* {
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(Roboto/Roboto-Bold.ttf);
    
}

@font-face {
    font-family: Roboto-light;
    src: url(Roboto/Roboto-light.ttf);
}

body {
    border: 2px solid black;
    font-family: 'Roboto-Bold', sans-serif;
    height: 700px;
    

}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

main {
    display: flex;
    flex-flow: column; 
    /* border: 2px solid darkslateblue; */
    justify-content: center;
    text-align: center;
    margin: 50px;
    height: 500px;
    
}

article {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 70%;
    height: auto;
    width: auto;

}

article h1, h2 {
    margin: 40px 0;
    /* width: 100%; */
    line-height: 1.4;  
    font-size: 2rem;  
}

.main-text {
    margin: 0 35px 40px 35px;
}

.question {
    display: flex;
    height: auto;
    width: auto;
    align-items: flex-start;
    text-align: left;
    
}

.button {
    outline: none;
    border: none;
    display: inline-block;
    position: relative;
    padding: 10px 15px;
    color: white;
    background: darkslateblue;
    font-size: 1.2rem;
    border-radius: 12px;
    width: 30%;
    text-align: left;
    margin: 5px 0;
    font-family: 'Roboto-light', sans-serif;
    /* box-shadow: 1px 1px grey; */
    
}

#start {
    text-align: center;
    width: auto;
}

.verify {
    color: grey;
    font-style: italic;
    font-family: 'Roboto-light', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    margin: 20px 0;
    padding: 10px;
    border-top: 1px solid grey;
    
}
